.slider-container {
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 200px;
}

.slider-container .slider {
    -webkit-appearance: none;
    width: inherit;
    outline: none;
}

.slider-container .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: darkgrey;
    cursor: pointer;
}

.slider-container .slider::-webkit-slider-runnable-track {
    width: inherit;
    cursor: pointer;
    background: grey;
    height: 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
